.container {
    background-color: lightblue;
}

html, body {
    height: 100%;
}

#my-header {
    height: 33%;
    background-color: lightcoral;
}

#my-body {
    height: 34%;
}

#my-footer {
    height: 33%;
}

#input-tip {
    width: 100%;
}
